{include file="include/admin_head" /}
<div class="container">
    <div class="row clearfix">

        <div class="col-md-12">
            <h3 class="text-left">
                <span class="glyphicon glyphicon-user"></span>
                修改密码
            </h3>
            <br>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4"></div>
        <div class="col-md-4 column">

            <h1 style="margin:0px" align="center">
                <span class="nowrap"><b></b></span>
            </h1>


            <form action="{:url('http://www.hitword.com/index.php/index/admin/adminChangePassword')}" accept-charset="UTF-8" method="post" >
                <div>
                    <dl class="form-group">
                        <dt><label for="user_id">用户名</label></dt>
                        <dd>

                            <input class="form-control" type="text" name="user_id" id="user_id" readonly="readonly" value="{$admin_data.admin_id}">
                            <div class="note">
                                用户名不可修改！
                            </div>
                        </dd>
                    </dl>


                    <dl class="form-group">
                        <dt><label for="user_profile_name">旧密码</label></dt>
                        <dd><input class="form-control" type="password" name="password_old" id="user_profile_name" value="">
                        </dd>
                    </dl>

                    <dl class="form-group">
                        <dt><label for="user_profile_name1">新密码</label></dt>
                        <dd><input class="form-control" type="password" name="password_new" id="user_profile_name1" value="">
                        </dd>
                    </dl>

                    <input type="hidden" name="stu_id" value="">
                    <p><button type="submit" class="btn btn-primary">保存</button></p>
                </div>
            </form>


        </div>
    </div>
</div>
</body>
</html>