
{include file="include/head" /}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <div class="carousel slide" id="carousel-586328">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-586328">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-586328">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-586328">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="/images/pic1.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        百年哈工大正踏浪而来！
                                    </h4>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="/images/pic2.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        校长周玉发表新春贺词：守初心擘画新百年 担使命谱写新答卷
                                    </h4>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="/images/pic3.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        意气风发迈向新百年
                                    </h4>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-586328" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-586328" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="page-header">
                        <h1>
                            今天是<br>
                            {:date('Y年m月d日')}
                        </h1>
                    </div>
                </div>
            </div>
            <h3 class="text-left">
                我的消息
            </h3>

        </div>
    </div>
</div>

</body>
</html>