{include file="include/head" /}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <FORM method="post" enctype="multipart/form-data" class="form" role="form" action="{:url('User/userWordUpload')}">
                <div class="form-group">
                    <label for="inputfile">文件输入</label>
                    <INPUT type="file" name="file" id="inputfile"><br/>
                </div>
                <div class="form-group">
                    <label for="name">是否是流程文档</label><br/>
                    <label class="form-radio">
                        <input type="radio" name="word_state" value="0">是
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="word_state" value="-1">否<br/>
                    </label>
                </div>
                <div class="form-group">
                    <label for="introduction">文档介绍</label><br/>
                    <textarea class="form-control" rows="3" name="word_introduction"></textarea>
<!--                    <input type="text" class="files" name="word_introduction" id="introduction">-->
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>